cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
google-api-core==2.27.0
google-auth==2.41.1
google-cloud-speech==2.34.0
googleapis-common-protos==1.71.0
grpcio==1.76.0
grpcio-status==1.76.0
idna==3.11
proto-plus==1.26.1
protobuf==6.33.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
python-dotenv==1.2.1
requests==2.32.5
rsa==4.9.1
typing_extensions==4.15.0
urllib3==2.5.0
websockets==15.0.1
